@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Fredoka", system-ui, sans-serif;
}

body 
{
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial";
    gap:16px;
    flex-wrap: wrap;
  }
  .card {
    margin: 1%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
    box-shadow: 0px 3px 10px #464646;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 230px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    flex-wrap: wrap;
  }
  .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
  }
  .card h1 {
    font-size: 1.2rem;
  }
  .card h2 {
    font-size: .9rem;
    color: #aaaa;
  }
  .card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 120%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
  }
  .card h1{
    color: #fff;
  }
  .card button:hover {
    background-color: #137de8;
    cursor: pointer;
  }

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.322));
    box-shadow: 0px 3px 10px #464646;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.rzyinyang {
    width: 50px;
}

.rzicon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

ul .nav-link::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

ul .nav-link:hover::after{
    width: 100%;

}


.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    position: relative;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 100px;
    background: linear-gradient(135deg, rgba(41, 40, 40, 0.479), rgb(0, 0, 0));
    border: 3px solid #ffffff17;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

#spec {
    padding: 20px;
    margin-top: 150px;
}

.zzk {
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 1px solid #fff;
}

@media screen and (max-width: 817px) {

    body 
{
    background-image: url(../img/fundomobile.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }

    .rzicon {
        display: none;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .zzk {
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 10%;
        border: 1px solid #ffffff;
    }

    .card {
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
        box-shadow: 0px 3px 10px #464646;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 130px;
        height: 200px;
        border-radius: 12px;
        box-shadow: 4px 4px 12px #aaaa;
      }
      .card img {
        width: 100%;
        height: 85px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      .card div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        height: 50%;
      }
      .card h1 {
        font-size: .6rem;
      }
      .card h2 {
        font-size: .9rem;
        color: #aaaa;
      }
      .card button {
        background-color: #2192FF;
        height: 30px;
        border: none;
        padding: 4px;
        width: 120%;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 4px;
      }
}
